/*
--------------------------------------------------------
    Winx.js

This file defines polyfills to enable Web & Node APIs
from the Winx.js standard.
--------------------------------------------------------
*/

import "winx_node.js"
import "winx_web.js"